.HomePageContainer {
  padding: 2rem;
}

.SearchBoxContainer,
.SearchByFilters,
.SearchFiltersChoice {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.SearchFiltersChoice input {
  cursor: pointer;
}
.SearchFiltersChoice label {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.RecipeListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 1.5rem;
  list-style: none;
  padding-inline-start: 0px;
}
.CreateRecipe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.CreateRecipeIcon {
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}
